*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

html, body{
  font-family: 'segoe UI', tahoma, geneva, verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

#navbar {
   background: #b629f3;
   color: #fff;
   overflow: auto;
 }
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li{
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  border-color: #b629f3;
  background: #FFF;
  color: #be45f3;
}

.text-primary {
  color:  #f3ed21;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background:  #cfc90f;
}

#welcome {
  background: url('/imageness/dead.jpg') no-repeat center center/cover;
  height: 600px;
}

#welcome .welcome-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#welcome .welcome-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#welcome .welcome-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

.btn-light {
  background: #f4f4f4;
  color: #b629f3;
}
.bg-dark {
  background: #b629f3;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #b629f3;
}

.bg-primary {
  background: #b629f3;
  color:  #540ab3;
}

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 70%;
  background: url(../imageness/capcom.jpg) no-repeat center center/cover;
  min-height: 100%;
}
#home-info .info-content {
  float: right;
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
#home-info .info-content p {
  padding-bottom: 30px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}

.clr{
  clear: both;
}
main-footer {
  text-align: center;
  background: #468d5c;
  color: #fff;
  padding: 20px;
}

.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

#about-info {
  height: 600px;
  background: url('/imageness/fondomjr.jpg') no-repeat center center/cover;
  padding-top: 100px;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

#testimonials {
  height: 900px;
  background: url('/imageness/img.jpg') no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #0ea7b5;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #0ea7b5;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder {
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

#box{
    background: url('../imageness/perrito.jpg') no-repeat
    center center/cover;
    color: #fff;
    height: 10%;
    width: 600px;
  }
  #practica {
    height: auto;
    background: url('/imageness/fondomjr.jpg') no-repeat center center/cover;
    padding-top: 100px;
    }
    
